option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "affinitize-parse-server"
    MASTER_KEY: "masterKey234"
    DATABASE_URI: "mongodb://mongolab-spherical-25892"
    NODE_ENV: "production"
    SERVER_URL: "http://affinitize-parse-server.herokuapp.com/parse/"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"